/* === General styles === */
/* Buttons */

.btn
  font-size 16px
  background none
  border 0
  padding 5px 10px
  cursor pointer
  display inline-block
  vertical-align top
  position relative
  font-weight 100 !important
  font-family Helvetica, Arial, Verdana, sans-serif
  &:disabled
    background #ccc !important
  &.no-hover
    background none !important
    cursor default
  &.disabled
    pointer-events none
    opacity 0.25

.btn-block 
  display block

.btn-add-item
  display inline-block
  width 100%
  background #f7f7f7
  border 2px dashed #ccc
  padding 25px
  color #ccc
  border-radius 5px
  margin-bottom 15px

.btn-add-comment
  background basket-green
  color #fff
  width 90%
  padding 15px

.btn-delete
  color #525252
  font-size 25px

.btn-assign
  border-radius 5px
  &:hover
    background #daddec
    color basket-blue
.assigned
  background basket-blue !important
  color #fff !important

.comment-notification
  display block
  content ''
  position absolute
  background basket-red
  width 7px
  height 7px
  border-radius 50%
  top 7px
  left 7px

.btn-menu
  display block
  top 50%
  transform translateY(-50%)
  position relative
  width 100%
  z-index 100

.btn-send
  width 100%
  text-align center
  background basket-green
  color #fff
  padding 15px 

/* Messages */
