.header
  background #fff
  border-bottom 2px solid #ebebee
  height 55px
  width 100%
  position fixed
  z-index 11

.header-logo
  background basket-blue
  height 45px
  width 45px
  border-radius 50%
  color #fff
  position relative
  top 50%
  transform translateY(-50%)
  font-weight 600
  content 'B'
  text-align center
  font-size 40px
  margin-left 15px
  span
    top 0%
    transform translateY(-0%)
    position relative

.header-button-wrapper
  left 0
  right 0
  text-align center
  position fixed
  top 0
  z-index 100

.header-button 
  font-size 18px
  background #a3dd19
  color #fff
  border 0
  padding 17px 25px
  z-index 9999
  &:hover
    background #90c610

.header-menu-button
  position absolute
  height 100%
  top 0
  right 0
  padding 0 15px

