.header
  background #fff
  border-bottom 2px solid #ebebee
  height 75px
  width 100%

.logo
  background #5060a5
  height 45px
  width 45px
  border-radius 50%
  color #fff
  position relative
  top 50%
  transform translateY(-50%)
  font-weight 800
  content 'B'